<app-accorion-group [multi]="false">
  <app-accorging-panel [title]="'first'">
    
    <ng-template appAccordingBody>
      hi
      <app-accorion-group [multi]="false">
        <app-accorging-panel [title]="'sec'">
          <ng-template appAccordingBody>
            hello
            <app-accorion-group [multi]="true">
              <app-accorging-panel [title]="'thir'">
                <ng-template appAccordingBody> test </ng-template>
              </app-accorging-panel>
               <app-accorging-panel [title]="'123'">
                <ng-template appAccordingBody> tste2 </ng-template>
              </app-accorging-panel>
               <app-accorging-panel [title]="'456'">
                <ng-template appAccordingBody> test3 </ng-template>
              </app-accorging-panel>
            </app-accorion-group>
          </ng-template>
        </app-accorging-panel>
      </app-accorion-group>
    </ng-template>
  </app-accorging-panel>
</app-accorion-group>
